<h1>Exemplos de uso de MYSQL</h1>

<h2>Web Service PHP</h2>

Primeiramente iremos criar nosso Script php.

No código abaixo temos o script, já contemplando os verbos do web service.

<?php
    /*phpinfo();*/
	/*Registra webservice para processamento de jobs*/
	ini_set('display_errors', 'Off');
	error_reporting(E_ALL);
	
	// get the HTTP method, path and body of the request
	$method = $_SERVER['REQUEST_METHOD'];
	mysqli_set_charset($dbhandle,'utf8');
	
	include "connectdb.php";
	//echo "Content-Type: application/json";
	
	//header('Cache-Control: no-cache, must-revalidate');
	//$data = var_dump(json_decode(file_get_contents("php://input")));
	$data = json_decode(file_get_contents("php://input"));
	if($data){
		$idpessoa = $dbhandle->real_escape_string($data->idpessoa);
		$nome = $dbhandle->real_escape_string($data->nome);
		$profissao = $dbhandle->real_escape_string($data->profissao);
		$sexo = $dbhandle->real_escape_string($data->sexo);
		$dtnasc = $dbhandle->real_escape_string($data->dtnasc);
	} else {
		$idpessoa = $dbhandle->real_escape_string($_GET['idpessoa']);	
		$nome = $dbhandle->real_escape_string($_GET['nome']);
		$profissao = $dbhandle->real_escape_string($_GET['profissao']);		
		$sexo = $dbhandle->real_escape_string($_GET['sexo']);		
		$dtnasc = $dbhandle->real_escape_string($_GET['dtnasc']);		
	}
		
	switch ($method) {
		case 'GET':
			$query = "select * from pessoas";
			$sqlwhere = "";
			if($idpessoa){	
				$sqlwhere = " where (idpessoa = ".$idpessoa.");";
			}
			if($nome){	
				if($sqlwhere){
					$sqlwhere = $sqlwhere." and (nome like '%".$nome."%');";
				} else {
					$sqlwhere = " where (nome like '%".$nome."%');";
				}
			}
			if($profissao){	
				if($sqlwhere){
					$sqlwhere = $sqlwhere." and (profissao like '%".$profissao."%');";
				} else {
					$sqlwhere = " where (profissao like '%".$profissao."%');";
				}
			}
			if($sexo){	
				if($sqlwhere){
					$sqlwhere = $sqlwhere." and (sexo = '".$sexo."');";
				} else {
					$sqlwhere = " where (sexo = '".$sexo."');";
				}
			}
			if($dtnasc){	
				if($sqlwhere){
					$sqlwhere = $sqlwhere." and (dtnasc = '".$dtnasc."');";
				} else {
					$sqlwhere = " where (dtnasc = '".$dtnasc."');";
				}
			}
			$query = $query . $sqlwhere;
			case 'PUT':
			
			case 'DELETE':
			
			case 'PATCH':
			
			

			//echo $query."<br/>";
	}
	
	$rs = $dbhandle->query($query);
	
	if(!$rs){
		die(mysqli_error());
	}
	
	//print json_encode($rs);	

	$cont = 0;
	

    // print results, insert id or affected row count
	if ($method == 'GET') {
		if (!$key) echo '[{';
			for ($i=0;$i<mysqli_num_rows($rs);$i++) {
				$row = $rs->fetch_array(MYSQLI_NUM);
				if ($row[0]!="" )
				{
					echo ($i>0?',':'');
					echo '"';
				
					echo $row[0];
					echo '":';
					echo json_encode(mysqli_fetch_object($rs));
				}
			}
		if (!$key) echo '}]';
	} 
	if ($method == 'POST') {
		//echo mysqli_insert_id($link);
	} 
	if ($method == 'DELETE') {
		//echo mysqli_affected_rows($link);
	}	
	

?>

O Web Service pode ser visto através do seguinte link:
<a href="http://maurinsoft.com.br/exemplos/phpmysql/ws/Pessoa.php">Web Service</a>

<h2>Exemplo de consumo de Web Service JSON</h2>

Neste exemplo irei mostrar como acessar um web service em python.

In [109]:
import requests
import codecs
import json

api_url = "http://maurinsoft.com.br/exemplos/phpmysql/ws/Pessoa.php"
response = requests.get(api_url)
response.headers['content-type']
#response.encoding
#response.text
#print(response.text)
#response.text.encode('utf-8-sig','ignore')
#print(response);
info = ""
if(response.text!={}):
    dados = codecs.decode(response.text.encode(),'utf-8-sig') 
    js = json.loads(dados)     
    print(js)
    #print(js.count())

[{'1': {'idPessoa': '16', 'nome': 'Marcella', 'dtnasc': '2002-01-16', 'profissao': 'Tecnica Informatica', 'sexo': 'F', 'dtchg': '2022-02-11 07:11:16', 'dtcad': '0000-00-00 00:00:00'}, '24': {'idPessoa': '27', 'nome': 'Teste', 'dtnasc': '2022-01-12', 'profissao': 'Enfermeira', 'sexo': 'M', 'dtchg': '2022-02-11 22:07:41', 'dtcad': '0000-00-00 00:00:00'}, '35': None}]

<h2>Importando com PANDAS</h2>

Agora iremos consumir o web service usando PANDAS.

In [164]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen("http://maurinsoft.com.br/exemplos/phpmysql/ws/Pessoa.php")
json_data = response.read().decode('utf-8-sig', 'replace')

d = json.loads(json_data)
df = pd.json_normalize(d[0])

print(df)

     35 1.idPessoa    1.nome    1.dtnasc          1.profissao 1.sexo  \
0  None         16  Marcella  2002-01-16  Tecnica Informatica      F

               1.dtchg              1.dtcad 24.idPessoa 24.nome   24.dtnasc  \
0  2022-02-11 07:11:16  0000-00-00 00:00:00          27   Teste  2022-01-12

  24.profissao 24.sexo             24.dtchg             24.dtcad
0   Enfermeira       M  2022-02-11 22:07:41  0000-00-00 00:00:00